<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <!-- <li>{{ site.title }}</li> -->
          {% for email in site.emails %}
          <li><a href="mailto:{{ site.email }}">{{ email }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              {% include svg-icons/github.html %}
            </a>
          </li>
          {% endif %} {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              {% include svg-icons/twitter.html %}
            </a>
          </li>
          {% endif %} {% if site.linkedin_username %}
          <li>
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
               {% include svg-icons/linkedin.html %}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
